<br><br><h1>Log In!</h1><br><br>

<%= form_tag login_path do %>

  <label class="user_link" for="name">Name</label><br>
  <input autocomplete="off" class="new_user_form" type="text" name="name" id="name"><br>

  <label class="user_link" for="password">Password</label><br>
  <input class="new_user_form" type="password" name="password" id="password"><br>

  <input class="user_links" type="submit" name="commit" value="Log In!" data-disable-with="Log In!">

<% end %>
