<br><br><h2>All User Favorites</h2>
<br><br><br>

<h4 class="tooltip">Most Favorited Movie:
  <span class="tooltiptext"><%=@favorites.most_favorite_movie_title %> (<%=@favorites.most_favorite_movie_count%>)</span> <br>
</h4>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th></th>
      <th>Movie</th>
    </tr>
  </thead>

  <tbody>
    <% @favorites.each do |favorite|%>
    <tr>
      <td><%= link_to favorite.user.name, user_path(favorite.user)%></td>
      <td class="line">______________</td>
      <td><%= link_to favorite.movie.title, movie_path(favorite.movie)%></td>
    </tr>
    <% end %>
  </tbody>
</table>
