<br><br>
<div class="homepage_text">
  <h2><span>My</span></h2>
  <h2><span>M</span>ovie</h2>
  <h2><span>D</span>ata<span>b</span>ase</h2><br>
</div>

<div class="homepage_video">
  <iframe width="300" height="180" src="https://www.youtube.com/embed/Y8i3hV8Z3NM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<h2 id="about"><span>About</span></h2>

<h4 class="invisible">Get <span style="color:rgb(250, 195, 0)">Movie Recommendations</span> based on <span style="color:rgb(250, 195, 0)">Comparisons</span> and <span style="color:rgb(250, 195, 0)">Favorites!</span><br><br>
<small style="text-align:center;">Created by <a target="_blank" class="user_link" style="color: white;text-decoration: none;" href="https://github.com/SwanHub?tab=stars">Jackson Prince</a> in Ruby on Rails.</small>
</h4>
