<br><br>
<h2>Users</h2>
<br><br>

<span class="new_user"><%=link_to "Create New User", new_user_path%></span><br><br>

<%@users.each do |user|%><br>
  <em><span class="user_link"><%=link_to user.name, user_path(user)%></span></em><br><br>
  <span>__________________</span><br><br>
<% end %><br>
