<br><br>

<h2>Get in here, kid</h2><br><br>

<%= form_for @user do |f|%>

  <label class="user_link" for="user_name">Name</label><br>
  <input autocomplete="off" class="new_user_form" type="text" name="user[name]"><br>

  <label class="user_link" for="user_password">Password</label><br>
  <input class="new_user_form" type="password" name="user[password]" id="user_password"><br>

  <label class="user_link" for="user_password_confirmation">Confirm</label><br>
  <input class="new_user_form" type="password" name="user[password_confirmation]" id="user_password_confirmation"><br>

  <input class="user_links" type="submit" name="commit" value="Party on, Garth" data-disable-with="Party on, Garth">

<% end %>
